<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lm.dao.TEntityMajorMapper" >
  <resultMap id="BaseResultMap" type="com.lm.model.TEntityMajor" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="university_id" property="universityId" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="VARCHAR" />
    <result column="major_banxue_type" property="majorBanxueType" jdbcType="VARCHAR" />
    <result column="discipline" property="discipline" jdbcType="INTEGER" />
    <result column="statue" property="statue" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="editby" property="editby" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, english_name, code, university_id, level, rank, major_banxue_type, discipline, 
    statue, createby, editby, createtime, edittime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lm.model.TEntityMajorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_entity_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_entity_major
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_entity_major
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lm.model.TEntityMajorExample" >
    delete from t_entity_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lm.model.TEntityMajor" >
    insert into t_entity_major (id, name, english_name, 
      code, university_id, level, 
      rank, major_banxue_type, discipline, 
      statue, createby, editby, 
      createtime, edittime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{universityId,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{rank,jdbcType=VARCHAR}, #{majorBanxueType,jdbcType=VARCHAR}, #{discipline,jdbcType=INTEGER}, 
      #{statue,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{editby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lm.model.TEntityMajor" >
    insert into t_entity_major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="universityId != null" >
        university_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="majorBanxueType != null" >
        major_banxue_type,
      </if>
      <if test="discipline != null" >
        discipline,
      </if>
      <if test="statue != null" >
        statue,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="editby != null" >
        editby,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="universityId != null" >
        #{universityId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="majorBanxueType != null" >
        #{majorBanxueType,jdbcType=VARCHAR},
      </if>
      <if test="discipline != null" >
        #{discipline,jdbcType=INTEGER},
      </if>
      <if test="statue != null" >
        #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lm.model.TEntityMajorExample" resultType="java.lang.Integer" >
    select count(*) from t_entity_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <update id="updateByExampleSelective" parameterType="map" >
    update t_entity_major
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.englishName != null" >
        english_name = #{record.englishName,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.universityId != null" >
        university_id = #{record.universityId,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null" >
        rank = #{record.rank,jdbcType=VARCHAR},
      </if>
      <if test="record.majorBanxueType != null" >
        major_banxue_type = #{record.majorBanxueType,jdbcType=VARCHAR},
      </if>
      <if test="record.discipline != null" >
        discipline = #{record.discipline,jdbcType=INTEGER},
      </if>
      <if test="record.statue != null" >
        statue = #{record.statue,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null" >
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.editby != null" >
        editby = #{record.editby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edittime != null" >
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_entity_major
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      english_name = #{record.englishName,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      university_id = #{record.universityId,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      rank = #{record.rank,jdbcType=VARCHAR},
      major_banxue_type = #{record.majorBanxueType,jdbcType=VARCHAR},
      discipline = #{record.discipline,jdbcType=INTEGER},
      statue = #{record.statue,jdbcType=VARCHAR},
      createby = #{record.createby,jdbcType=VARCHAR},
      editby = #{record.editby,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      edittime = #{record.edittime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lm.model.TEntityMajor" >
    update t_entity_major
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="universityId != null" >
        university_id = #{universityId,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="majorBanxueType != null" >
        major_banxue_type = #{majorBanxueType,jdbcType=VARCHAR},
      </if>
      <if test="discipline != null" >
        discipline = #{discipline,jdbcType=INTEGER},
      </if>
      <if test="statue != null" >
        statue = #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        editby = #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lm.model.TEntityMajor" >
    update t_entity_major
    set name = #{name,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      university_id = #{universityId,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR},
      major_banxue_type = #{majorBanxueType,jdbcType=VARCHAR},
      discipline = #{discipline,jdbcType=INTEGER},
      statue = #{statue,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=VARCHAR},
      editby = #{editby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--自定义-->
  <resultMap id="ResultMapWithOther" type="com.lm.model.TEntityMajor" extends="BaseResultMap">
    <result column="university_id" property="universityId" jdbcType="VARCHAR" />
    <result column="discipline" property="discipline" jdbcType="INTEGER" />
    <association property="university"
                 javaType="com.lm.model.TEntityUniversity"
                 column="university_id"
                 select="com.lm.dao.TEntityUniversityMapper.selectByPrimaryKey">
    </association>
    <association property="dmMajor"
                 javaType="com.lm.model.TDmMajor"
                 column="discipline"
                 select="com.lm.dao.TDmMajorMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <select id="selectWithOtherByExample" resultMap="ResultMapWithOther" parameterType="com.lm.model.TEntityMajorExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_entity_major
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

</mapper>