<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lm.dao.TEntityCoursetypeSemesterMapper" >
  <resultMap id="BaseResultMap" type="com.lm.model.TEntityCoursetypeSemester" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="coursetype_id" property="coursetypeId" jdbcType="VARCHAR" />
    <result column="semester_id" property="semesterId" jdbcType="VARCHAR" />
    <result column="week_count" property="weekCount" jdbcType="INTEGER" />
    <result column="credit_count" property="creditCount" jdbcType="INTEGER" />
    <result column="statue" property="statue" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="editby" property="editby" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, coursetype_id, semester_id, week_count, credit_count, statue, createby, editby, 
    createtime, edittime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lm.model.TEntityCoursetypeSemesterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_entity_coursetype_semester
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_entity_coursetype_semester
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_entity_coursetype_semester
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lm.model.TEntityCoursetypeSemesterExample" >
    delete from t_entity_coursetype_semester
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lm.model.TEntityCoursetypeSemester" >
    insert into t_entity_coursetype_semester (id, coursetype_id, semester_id, 
      week_count, credit_count, statue, 
      createby, editby, createtime, 
      edittime)
    values (#{id,jdbcType=VARCHAR}, #{coursetypeId,jdbcType=VARCHAR}, #{semesterId,jdbcType=VARCHAR}, 
      #{weekCount,jdbcType=INTEGER}, #{creditCount,jdbcType=INTEGER}, #{statue,jdbcType=VARCHAR}, 
      #{createby,jdbcType=VARCHAR}, #{editby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{edittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lm.model.TEntityCoursetypeSemester" >
    insert into t_entity_coursetype_semester
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="coursetypeId != null" >
        coursetype_id,
      </if>
      <if test="semesterId != null" >
        semester_id,
      </if>
      <if test="weekCount != null" >
        week_count,
      </if>
      <if test="creditCount != null" >
        credit_count,
      </if>
      <if test="statue != null" >
        statue,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="editby != null" >
        editby,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="coursetypeId != null" >
        #{coursetypeId,jdbcType=VARCHAR},
      </if>
      <if test="semesterId != null" >
        #{semesterId,jdbcType=VARCHAR},
      </if>
      <if test="weekCount != null" >
        #{weekCount,jdbcType=INTEGER},
      </if>
      <if test="creditCount != null" >
        #{creditCount,jdbcType=INTEGER},
      </if>
      <if test="statue != null" >
        #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lm.model.TEntityCoursetypeSemesterExample" resultType="java.lang.Integer" >
    select count(*) from t_entity_coursetype_semester
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_entity_coursetype_semester
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.coursetypeId != null" >
        coursetype_id = #{record.coursetypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.semesterId != null" >
        semester_id = #{record.semesterId,jdbcType=VARCHAR},
      </if>
      <if test="record.weekCount != null" >
        week_count = #{record.weekCount,jdbcType=INTEGER},
      </if>
      <if test="record.creditCount != null" >
        credit_count = #{record.creditCount,jdbcType=INTEGER},
      </if>
      <if test="record.statue != null" >
        statue = #{record.statue,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null" >
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.editby != null" >
        editby = #{record.editby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edittime != null" >
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_entity_coursetype_semester
    set id = #{record.id,jdbcType=VARCHAR},
      coursetype_id = #{record.coursetypeId,jdbcType=VARCHAR},
      semester_id = #{record.semesterId,jdbcType=VARCHAR},
      week_count = #{record.weekCount,jdbcType=INTEGER},
      credit_count = #{record.creditCount,jdbcType=INTEGER},
      statue = #{record.statue,jdbcType=VARCHAR},
      createby = #{record.createby,jdbcType=VARCHAR},
      editby = #{record.editby,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      edittime = #{record.edittime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lm.model.TEntityCoursetypeSemester" >
    update t_entity_coursetype_semester
    <set >
      <if test="coursetypeId != null" >
        coursetype_id = #{coursetypeId,jdbcType=VARCHAR},
      </if>
      <if test="semesterId != null" >
        semester_id = #{semesterId,jdbcType=VARCHAR},
      </if>
      <if test="weekCount != null" >
        week_count = #{weekCount,jdbcType=INTEGER},
      </if>
      <if test="creditCount != null" >
        credit_count = #{creditCount,jdbcType=INTEGER},
      </if>
      <if test="statue != null" >
        statue = #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        editby = #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lm.model.TEntityCoursetypeSemester" >
    update t_entity_coursetype_semester
    set coursetype_id = #{coursetypeId,jdbcType=VARCHAR},
      semester_id = #{semesterId,jdbcType=VARCHAR},
      week_count = #{weekCount,jdbcType=INTEGER},
      credit_count = #{creditCount,jdbcType=INTEGER},
      statue = #{statue,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=VARCHAR},
      editby = #{editby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>