<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lm.dao.TEntityTeachingMapper" >
  <resultMap id="BaseResultMap" type="com.lm.model.TEntityTeaching" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="all_credit" property="allCredit" jdbcType="INTEGER" />
    <result column="theory" property="theory" jdbcType="INTEGER" />
    <result column="practice" property="practice" jdbcType="INTEGER" />
    <result column="statue" property="statue" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="editby" property="editby" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_id, course_id, all_credit, theory, practice, statue, createby, editby, createtime, 
    edittime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lm.model.TEntityTeachingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_entity_teaching
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_entity_teaching
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_entity_teaching
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lm.model.TEntityTeachingExample" >
    delete from t_entity_teaching
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lm.model.TEntityTeaching" >
    insert into t_entity_teaching (id, plan_id, course_id, 
      all_credit, theory, practice, 
      statue, createby, editby, 
      createtime, edittime)
    values (#{id,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, 
      #{allCredit,jdbcType=INTEGER}, #{theory,jdbcType=INTEGER}, #{practice,jdbcType=INTEGER}, 
      #{statue,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, #{editby,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lm.model.TEntityTeaching" >
    insert into t_entity_teaching
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="allCredit != null" >
        all_credit,
      </if>
      <if test="theory != null" >
        theory,
      </if>
      <if test="practice != null" >
        practice,
      </if>
      <if test="statue != null" >
        statue,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="editby != null" >
        editby,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="allCredit != null" >
        #{allCredit,jdbcType=INTEGER},
      </if>
      <if test="theory != null" >
        #{theory,jdbcType=INTEGER},
      </if>
      <if test="practice != null" >
        #{practice,jdbcType=INTEGER},
      </if>
      <if test="statue != null" >
        #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lm.model.TEntityTeachingExample" resultType="java.lang.Integer" >
    select count(*) from t_entity_teaching
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_entity_teaching
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.allCredit != null" >
        all_credit = #{record.allCredit,jdbcType=INTEGER},
      </if>
      <if test="record.theory != null" >
        theory = #{record.theory,jdbcType=INTEGER},
      </if>
      <if test="record.practice != null" >
        practice = #{record.practice,jdbcType=INTEGER},
      </if>
      <if test="record.statue != null" >
        statue = #{record.statue,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null" >
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.editby != null" >
        editby = #{record.editby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edittime != null" >
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_entity_teaching
    set id = #{record.id,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=VARCHAR},
      course_id = #{record.courseId,jdbcType=VARCHAR},
      all_credit = #{record.allCredit,jdbcType=INTEGER},
      theory = #{record.theory,jdbcType=INTEGER},
      practice = #{record.practice,jdbcType=INTEGER},
      statue = #{record.statue,jdbcType=VARCHAR},
      createby = #{record.createby,jdbcType=VARCHAR},
      editby = #{record.editby,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      edittime = #{record.edittime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lm.model.TEntityTeaching" >
    update t_entity_teaching
    <set >
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="allCredit != null" >
        all_credit = #{allCredit,jdbcType=INTEGER},
      </if>
      <if test="theory != null" >
        theory = #{theory,jdbcType=INTEGER},
      </if>
      <if test="practice != null" >
        practice = #{practice,jdbcType=INTEGER},
      </if>
      <if test="statue != null" >
        statue = #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        editby = #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lm.model.TEntityTeaching" >
    update t_entity_teaching
    set plan_id = #{planId,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      all_credit = #{allCredit,jdbcType=INTEGER},
      theory = #{theory,jdbcType=INTEGER},
      practice = #{practice,jdbcType=INTEGER},
      statue = #{statue,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=VARCHAR},
      editby = #{editby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>