<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lm.dao.TEntityPlanMajorinfoMapper" >
  <resultMap id="BaseResultMap" type="com.lm.model.TEntityPlanMajorinfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="limit_year" property="limitYear" jdbcType="INTEGER" />
    <result column="degree" property="degree" jdbcType="VARCHAR" />
    <result column="min_credit" property="minCredit" jdbcType="INTEGER" />
    <result column="requirement_description" property="requirementDescription" jdbcType="VARCHAR" />
    <result column="statue" property="statue" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="editby" property="editby" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, plan_id, introduction, limit_year, degree, min_credit, requirement_description, 
    statue, createby, editby, createtime, edittime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lm.model.TEntityPlanMajorinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_entity_plan_majorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_entity_plan_majorinfo
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_entity_plan_majorinfo
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.lm.model.TEntityPlanMajorinfoExample" >
    delete from t_entity_plan_majorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lm.model.TEntityPlanMajorinfo" >
    insert into t_entity_plan_majorinfo (id, plan_id, introduction, 
      limit_year, degree, min_credit, 
      requirement_description, statue, createby, 
      editby, createtime, edittime
      )
    values (#{id,jdbcType=VARCHAR}, #{planId,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{limitYear,jdbcType=INTEGER}, #{degree,jdbcType=VARCHAR}, #{minCredit,jdbcType=INTEGER}, 
      #{requirementDescription,jdbcType=VARCHAR}, #{statue,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{editby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lm.model.TEntityPlanMajorinfo" >
    insert into t_entity_plan_majorinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="limitYear != null" >
        limit_year,
      </if>
      <if test="degree != null" >
        degree,
      </if>
      <if test="minCredit != null" >
        min_credit,
      </if>
      <if test="requirementDescription != null" >
        requirement_description,
      </if>
      <if test="statue != null" >
        statue,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="editby != null" >
        editby,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="limitYear != null" >
        #{limitYear,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="minCredit != null" >
        #{minCredit,jdbcType=INTEGER},
      </if>
      <if test="requirementDescription != null" >
        #{requirementDescription,jdbcType=VARCHAR},
      </if>
      <if test="statue != null" >
        #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lm.model.TEntityPlanMajorinfoExample" resultType="java.lang.Integer" >
    select count(*) from t_entity_plan_majorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_entity_plan_majorinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.limitYear != null" >
        limit_year = #{record.limitYear,jdbcType=INTEGER},
      </if>
      <if test="record.degree != null" >
        degree = #{record.degree,jdbcType=VARCHAR},
      </if>
      <if test="record.minCredit != null" >
        min_credit = #{record.minCredit,jdbcType=INTEGER},
      </if>
      <if test="record.requirementDescription != null" >
        requirement_description = #{record.requirementDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.statue != null" >
        statue = #{record.statue,jdbcType=VARCHAR},
      </if>
      <if test="record.createby != null" >
        createby = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.editby != null" >
        editby = #{record.editby,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edittime != null" >
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_entity_plan_majorinfo
    set id = #{record.id,jdbcType=VARCHAR},
      plan_id = #{record.planId,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      limit_year = #{record.limitYear,jdbcType=INTEGER},
      degree = #{record.degree,jdbcType=VARCHAR},
      min_credit = #{record.minCredit,jdbcType=INTEGER},
      requirement_description = #{record.requirementDescription,jdbcType=VARCHAR},
      statue = #{record.statue,jdbcType=VARCHAR},
      createby = #{record.createby,jdbcType=VARCHAR},
      editby = #{record.editby,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      edittime = #{record.edittime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lm.model.TEntityPlanMajorinfo" >
    update t_entity_plan_majorinfo
    <set >
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="limitYear != null" >
        limit_year = #{limitYear,jdbcType=INTEGER},
      </if>
      <if test="degree != null" >
        degree = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="minCredit != null" >
        min_credit = #{minCredit,jdbcType=INTEGER},
      </if>
      <if test="requirementDescription != null" >
        requirement_description = #{requirementDescription,jdbcType=VARCHAR},
      </if>
      <if test="statue != null" >
        statue = #{statue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="editby != null" >
        editby = #{editby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lm.model.TEntityPlanMajorinfo" >
    update t_entity_plan_majorinfo
    set plan_id = #{planId,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      limit_year = #{limitYear,jdbcType=INTEGER},
      degree = #{degree,jdbcType=VARCHAR},
      min_credit = #{minCredit,jdbcType=INTEGER},
      requirement_description = #{requirementDescription,jdbcType=VARCHAR},
      statue = #{statue,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=VARCHAR},
      editby = #{editby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--自定义-->
  <resultMap id="ResultMapWithTraniningplan" type="com.lm.model.TEntityPlanMajorinfo" extends="BaseResultMap">
    <result column="plan_id" property="planId" jdbcType="VARCHAR" />
    <association property="trainingplan"
                 javaType="com.lm.model.TEntityTrainingplan"
                 column="plan_id"
                 select="com.lm.dao.TEntityTrainingplanMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  <select id="selectWithTrainingplanByExample" resultMap="ResultMapWithTraniningplan" parameterType="com.lm.model.TEntityPlanMajorinfoExample">
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_entity_plan_majorinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectDistinctPlanId" resultType="java.lang.String">
    select  distinct plan_id from t_entity_plan_majorinfo where statue = 1
  </select>
</mapper>